Requirements:

This is an informal working document that records the requirements.

Requirements:

Assignment 1
- Package named ca.ucalgary.seng300.a1
- Test Classes in ca.ucalgary.seng300.a1.test

See Design Docs for the following
- Coin Slot Implemented
- Push Buttons Implemented

